<%= link_to "Submit a Link", '#', class: "links create-link" %>
<header class= "header">
  <div class="hidden-form-container"><%= render partial: 'form' %></div>
</header>
<br/>
<br/>
<ol>
  <% @posts.each do |post| %>
  <li>
    <%= link_to post.title, "#{post.link}" %>
    <div class="posted-by">
      Submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.email %>
    </div>  
  </li><br/>
  <% end %>
</ol>