<%= link_to "Submit a link", '#', class: "links create-link" %>
<header class= "header">
  <div class="hidden-form-container"><%= render partial: 'form' %></div>
</header>
<br/>
<br/>
<ul class="page-content">
  <% @posts.each do |post| %>
  <li>
    <div class="post-link"><%= link_to post.title, "http://#{post.link}" %></div>
    <div class="posted-by">
      Submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.email %>
    </div> 
    <div class="btn-group">
      <%= link_to like_post_path(post), method: :put, class: "btn btn-default btn-xs" do %>
      <span class="glyphicon glyphicon-chevron-up"></span>
      upvotes
      <%= post.get_upvotes.size %> 
      <% end %>
      <%= link_to dislike_post_path(post), method: :put, class: "btn btn-default btn-xs" do %>
      <span class="glyphicon glyphicon-chevron-down"></span>
      downvotes
      <%= post.get_downvotes.size %>
      <% end %>
      <%= link_to post_path(post), method: :get, class: "comments-button btn btn-default btn-xs" do %> <span class="glyphicon glyphicon-pencil"></span>
      comments
      <%= post.comments.count %>
      <% end %>

    </li><br/>
    <% end %>
  </ul>
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
