<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'HN Clone', posts_path, class: "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to 'new', posts_path(latest: "true") %></li>
      <li><%= link_to 'top', posts_path(top: "true") %></li>
      <li><%= link_to 'account', edit_user_registration_path %></li>
    </ul>
    <div class="container">
      <% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "navbar-text navbar-right" %>
      <% else %>
      <%= link_to "Sign in", new_user_session_path, class: "navbar-text navbar-right" %>
      <% end %>
    </div>
  </div>
</nav>  